@media screen and (min-width: 600px ) and (max-width: 768px) {
   section#login {
    padding: 20px 30px;
    padding-top: 100px;
    padding-bottom: 100px; 

   }

   
   body {
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
   
   

   }
   section p {
    padding-left: 70px;
   }
   .red input { 
    width: 300px;
    text-indent: 20px;
    

   }
   span {
    position: absolute;
    transform: translateY(7px);
   }
.botao {
    position: relative;
    top: 60px;
}
}