* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body, html {
    background-color: lightblue;
    background-image: url(imagem/pexels-abdghat-1631677.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
   
    
}
main {
    display: block;
    text-align: center;

   
    

}
.botao {
    position: relative;
    top: 60px;
    color: black;
    
    
}
.botao:hover {
    background-color: lightgray;
}
section {
    position: relative;
    
}
section#login {
    width: 420px ;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 80px 60px;
    margin: 150px;

    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
}
section h1 {
    padding-bottom: 30px;
    font-size: 2em;
    
    
}
section p {
    position: relative;
    width: 300px;
    bottom: 20px;
    padding-left: 20px;
}
.red input {
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    
}
input[type=submit] {
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    width: 150px;
    position: relative;
    top: 20px;
    left: 80px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid black;
}
input[type=submit]::marker {
    background: transparent;
    backdrop-filter: blur(20px);

    }

label {
    display: none;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}